<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add
        name="CONEXION"
        connectionString="data source=DESKTOP-D03T7HI\SQLEXPRESS;initial catalog=FARMACIA;user=ADRIAN QUISPE ;password=12345687"
        providerName="System.Data.SqlClient"
        />
    </connectionStrings>
</configuration>